<section class="section is-fullheight">
  <div class="container is-flex is-flex-direction-column">
    <div class="content">
      <div class="columns is-centered mt-6">
        <div class="column is-8 has-text-centered">
          <%= render 'top/title' %>
          <turbo-frame id="response_area">
            <%= render 'top/empty_response' %>
          </turbo-frame>
        </div>
      </div>
      <%= button_to "Discordでログインする", user_discord_omniauth_authorize_path, method: :post, data: { turbo: false }, class: 'button is-primary' %>
      <%= button_to 'Googleでログインする', user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, class: 'button is-primary' %>
      <%= button_to 'Twitterでログインする', user_twitter_omniauth_authorize_path, method: :post, data: { turbo: false }, class: 'button is-primary' %>
      <%= button_to 'GitHubでログインする', user_github_omniauth_authorize_path, method: :post, data: { turbo: false }, class: 'button is-primary' %>
      <%= button_to 'LINEでログインする', user_line_omniauth_authorize_path, method: :post, data: { turbo: false }, class: 'button is-primary' %>
    </div>
      <div class="columns is-centered mt-6">
        <%= render 'top/buttons' %>
      </div>
    </div>
  </div>
</section>




















