<%= form_with url: dashboard_path, method: :get, local: true do %>
  <div>
    <%= label_tag :query, "検索" %>
    <%= text_field_tag :query, params[:query] %>
  </div>
  <div>
    <%= submit_tag "検索" %>
  </div>
<% end %>

<h2>検索結果</h2>
<% if @consultations.any? %>
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>説明</th>
        <th>カテゴリ</th>
        <th>ユーザー</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @consultations.each do |consultation| %>
        <tr>
          <td><%= consultation.title %></td>
          <td><%= consultation.content %></td>
          <td><%= consultation.category.name %></td>
          <td><%= consultation.user.name %></td>
          <td><%= consultation.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>検索結果が見つかりませんでした。</p>
<% end %>
