<%= form_with url: dashboard_path, method: :get, local: true do %>
  <div>
    <%= label_tag :query, "検索" %>
    <%= text_field_tag :query, params[:query] %>
  </div>
  <div>
    <%= submit_tag "検索" %>
  </div>
<% end %>

<h2>検索結果</h2>
<% if @consultations.any? %>
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>説明</th>
        <th>カテゴリ</th>
        <th>ユーザー</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @consultations.results.each do |consultation| %>
        <tr>
          <td><%= raw(consultation.highlight.title ? consultation.highlight.title.join(" ") : consultation.title) %></td>
          <td><%= raw(consultation.highlight.content ? consultation.highlight.content.join(" ") : consultation.content) %></td>
          <td><%= raw(consultation.highlight.category_name ? consultation.highlight.category_name.join(" ") : consultation.category_name) %></td>
          <td><%= raw(consultation.highlight.user_name ? consultation.highlight.user_name.join(" ") : consultation.user_name) %></td>
          <td><%= consultation.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>検索結果が見つかりませんでした。</p>
<% end %>
