<div id="message_<%= message.id %>" data-message-user-id="<%= message.user_id %>" data-turbo="true">
  <p class="has-text-black"><strong><%= message.user.name %>:</strong> <%= message.message %></p>
  <% if show_delete_button %>
    <div class="group-buttons">
      <%= link_to '削除', group_chat_group_chat_message_path(message.group_chat, message), 
                  method: :delete, 
                  data: { confirm: '本当に削除しますか？', action: "click->group-chat#deleteMessage", message_id: message.id }, 
                  class: 'has-text-black delete-chat-button' %>
    </div>
  <% else %>
    <div class="group-buttons" style="display: none;">
      <%= link_to '削除', group_chat_group_chat_message_path(message.group_chat, message), 
                  method: :delete, 
                  data: { confirm: '本当に削除しますか？', action: "click->group-chat#deleteMessage", message_id: message.id }, 
                  class: 'has-text-black delete-chat-button' %>
    </div>
  <% end %>
</div>
