<div id="content">
  <div class="consultation-show-message is-small">
    <div class="control">
      <%= label_tag :query, "検索", class: 'label is-large' %>
    </div>
    <%= form_with url: search_response_path, method: :post, local: false, class: 'field has-addons' do %>
      <div class="control is-expanded">
        <%= text_field_tag :query, params[:query], class: 'input' %>
      </div>
      <div class="control">
        <%= submit_tag "検索", class: 'button is-info' %>
      </div>
    <% end %>
  </div>

  <div class="consultations-show-fixed-height is-small">
    <h2 class="title is-4">検索結果</h2>
    <% if @consultations.any? %>
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>説明</th>
            <th>カテゴリ</th>
            <th>ユーザー</th>
          </tr>
        </thead>
        <tbody>
          <% @consultations.each do |consultation| %>
            <tr>
              <td><%= highlight(consultation.title, params[:query]) %></td>
              <td><%= highlight(consultation.content, params[:query]) %></td>
              <td><%= highlight(consultation.category.name, params[:query]) %></td>
              <td>
                <% if consultation.display_choice == 'anonymous' %>
                  匿名
                <% else %>
                  <%= highlight(consultation.user.name, params[:query]) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="notification is-warning">検索結果はありません。</p>
    <% end %>
  </div>
</div>