<div class="column is-full">
  <div class="level">
    <div class="level-left">
      <h2 class="subtitle">送信済ギフト一覧: 全<%= gift_histories.count %>件</h2>
    </div>
  </div>
</div>
<div class="columns is-multiline">
  <% gift_histories.each do |history| %>
    <div class="column is-full-mobile is-one-third-tablet" id="<%= dom_id(history) %>">
      <div class="card">
        <div class="card-content">
        <% sended_gift = Gift.find_by(id: history.gift_id) %>
        <p class="title is-4">ギフト名:</p>
        <p class="subtitle is-flex my-2">
          <% if sended_gift.present? %>
            <%= sended_gift.item_name %>
          <% else %>
            ギフトが見つかりません
          <% end %>
        </p>
        <p class="title is-4">メッセージ内容:</p>
        <p class="subtitle is-flex my-2"><%= history.sender_message %></p>
        <% if current_user.super_admin? || current_user.admin? %>
          <div class="are-small has-text-right">
            <%= button_to '削除', "#", method: :delete, data: { turbo_confirm: '本当にこのメッセージを削除しますか？' }, remote: true, form: { data: { turbo: true }, class: 'button is-danger' } %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
