<div class="column is-full">
  <div class="level">
    <div class="level-left">
      <h2 class="subtitle">ユーザー一覧: 全<%= users.count %>件</h2>
    </div>
  </div>
</div>
<div class="columns is-multiline user-list-heigth">
  <% users.each do |user| %>
    <div class="column is-full-mobile is-one-third-tablet" id="<%= dom_id(user) %>">
      <div class="card">
        <div class="card-content">
          <p class="title is-4">ユーザー名: <%= user.name %></p>
          <p class="title is-4">チャット名: <%= user.display_name %></p>
          <% if current_user.super_admin? || current_user.admin? %>
            <div class="are-small has-text-right">
              <%= button_to '削除', admin_user_path(user), method: :delete, data: { turbo_confirm: '本当にこのユーザーを削除しますか？' }, remote: true, form: { data: { turbo: true }, class: 'button is-danger' } %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>