<div id="content" class="container is-small frame-fixed-height has-background-success">
  <div class="has-text-white">
    <% if selected_user %>
      <p>選択されたユーザー: <%= selected_user.name %></p>
    <% end %>
    <div id="messages">
      <% chats.each do |chat| %>
        <div id="chat_<%= chat.id %>">
          <p><strong><%= chat.sender.name.force_encoding('UTF-8') %>:</strong> <%= chat.decrypted_message.force_encoding('UTF-8') %></p>
          <%= button_to '削除', chat_path(chat), method: :delete, data: { confirm: '本当に削除しますか？' }, remote: true %>
        </div>
      <% end %>
    </div>
    <%= form_with model: @chat, url: chats_path, method: :post, data: { turbo: true } do |form| %>
      <%= form.hidden_field :receiver_id, value: receiver_id %>
      <div class="field has-addons">
        <div class="control is-expanded">
          <%= form.text_field :message, placeholder: "メッセージを入れて下さい!!", class: "input", id: "chat_message_input" %>
        </div>
        <div class="control">
          <%= form.submit "Send", class: "button is-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <%= form_with url: custom_chat_path, method: :post do |f| %>
  <%= f.collection_select :receiver_id, User.where.not(id: current_user.id), :id, :name %>
  <%= f.submit "相手を選んでください！！" %>
<% end %>
</div>
