<div id="content">
  <div class="consultation-message is-small ml-2 mb-1">
    <p>みんなの悩みの詳細</p>
  </div>
  <div class="columns consultations-fixed-height">
    <div class="column">
      <div id="<%= dom_id(@consultation) %>" class="card">
        <p class="title">タイトル: <%= @consultation.title %></p>
        <p>投稿者: <%= @consultation.user.name %></p>
        <div class="card-content">
          <div class="content">
            <p><%= @consultation.content %></p>
          </div>
        </div>
      </div>
      <div class="is-flex is-justify-content-flex-end is-align-items-flex-end mt-1 buttons-right">
        <% if user_signed_in? %>
          <%= button_to '返信', consultations_detail_path(id: @consultation.id), method: :post, data: { turbo_frame: "content" }, class: "button is-link button-wrap-text" %>
        <% end %>
        <%= button_to '戻る', buttons_worries_path, method: :post, data: { turbo_frame: 'content' }, class: "button is-primary button-wrap-text ml-2" %>
        <% if @consultation.user == current_user %>
          <%
            fixed_url = "https://flowerjewelring-e86d8e8259b0.herokuapp.com/dashboard"
            message = "「#{ERB::Util.url_encode(@consultation.title)}」を投稿しました。%0A みなさんから、アドバイスをいただけると嬉しいです。%0A %23めぐる宝石花 %0A#{ERB::Util.url_encode(fixed_url)}"
          %>
            <%= link_to "https://twitter.com/intent/tweet?text=#{message}", target: "_blank", class: "button is-info button-wrap-text ml-4 twitter-button" do %>
            <i class="fab fa-twitter twitter-icon"></i> タイトル投稿
          <% end %>
          <%= button_to '削除', consultations_destroy_path(@consultation), method: :delete, remote: true, data: { confirm: '本当に削除しますか？' }, class: "button is-danger button-wrap-text ml-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
