<div id="content" class="container is-small frame-fixed-height">
  みんなの悩み！の詳細
  <div class="columns">
    <div class="column">
      <div id="<%= dom_id(@consultation) %>" class="card">
        <p class="title">タイトル: <%= @consultation.title %></p>
        <p>投稿者: <%= @consultation.user.name %></p>
        <div class="card-content">
          <div class="content">
            <p><%= @consultation.content %></p>
          </div>
        </div>
      </div>
      <div class="is-flex is-justify-content-flex-end is-align-items-flex-end md-3">
        <% if user_signed_in? %>
          <%= button_to '相談返信に向かう', consultations_detail_path(id: @consultation.id), method: :post, data: { turbo_frame: "content" }, class: "button is-fullwidth is-link" %>
        <% end %>
        <%= button_to 'みんなの悩みに戻る', buttons_worries_path, method: :post, data: { turbo_frame: 'content' }, class: "button is-fullwidth is-primary ml-2" %>
        <% if @consultation.user == current_user %>
          <%
            fixed_url = "https://flowerjewelring-e86d8e8259b0.herokuapp.com/dashboard"
            message = "「#{ERB::Util.url_encode(@consultation.title)}」を投稿しました。%0A みなさんから、アドバイスをいただけると嬉しいです。%0A#{ERB::Util.url_encode(fixed_url)}"
          %>
          <%= link_to 'Xに相談投稿', "https://twitter.com/intent/tweet?text=#{message}", target: "_blank", class: "button is-info ml-4" %>
          <%= button_to '削除', consultations_destroy_path(@consultation), method: :delete, remote: true, data: { confirm: '本当に削除しますか？' }, class: "button is-danger ml-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
