<div id="content">
  <div class="consultation-message is-small ml-2 mb-1">
    <p>みんなの返信を行う</p>
  </div>
  <div class="columns consultations-show-fixed-height is-multiline">
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <div class="buttons-tone">
              <%= button_to "すべて", consultations_detail_path(id: consultation.id, filter_tone: ""), method: :post, data: { turbo_frame: "content" }, class: "button is-light is-small button-wrap-text" %>
              <%= render "buttons/menu/tone_button", consultation: consultation %>
            </div>
            <% replies = filter_tone.present? ? consultation.replies.where(tone: filter_tone) : consultation.replies %>
            <% replies.each do |reply| %>
              <div id="reply_<%= reply.id %>">
                <div class="is-flex is-justify-content-space-between">
                  <p>
                    <strong>
                      <% if reply.display_choice == 'name' %>
                        <%= reply.user.name %>
                      <% else %>
                        匿名
                      <% end %>:
                    </strong>
                    <%= reply.content %>
                  </p>
                  <p><em>トーン: <%= Reply.tones[reply.tone] %></em></p>
                  <% if current_user == reply.user %>
                    <div class="is-pulled-right buttons-right">
                      <%= button_to '返信を削除', consultation_destroy_reply_path(consultation, reply_id: reply.id), remote: true, class: 'button is-danger is-small button-wrap-text ml-2' %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p><%= consultation.content %></p>
            <p>
              投稿者: 
              <% if consultation.display_choice == 'name' %>
                <%= consultation.user.name %>
              <% else %>
                匿名
              <% end %>
            </p>
            <p>望ましい返信スタイル: <%= Consultation.desired_reply_tones[consultation.desired_reply_tone] %></p>
            <%= render 'replies/form', consultation: consultation, reply: consultation.replies.build %>
          </div>
        </div>
      </div>
      <div class="is-pulled-right buttons-right">
        <%= button_to "戻る", consultations_response_consultation_path(consultation), method: :post, data: { turbo_frame: "content" }, class: "button is-primary button-wrap-text custom-left custom-top" %>
      </div>
    </div>
  </div>
</div>
