<div id="content" class="container is-small frame-fixed-height has-background-primary">
  <div class="columns is-multiline">
    <!-- 左側のカラム（返信表示） -->
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <% consultation.replies.each do |reply| %>
            <div id="reply_<%= reply.id %>">
              <p><strong><%= reply.user.name %>:</strong> <%= reply.content %></p>
              <%= button_to '返信を削除', consultation_destroy_reply_path(consultation, reply_id: reply.id), remote: true, class: 'button is-danger' %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- 右側のカラム（返信フォーム） -->
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <p><%= consultation.content %></p>
            <p>投稿者: <%= consultation.user.name %></p>
            <%= form_with(model: [consultation, consultation.replies.build], local: true, data: { turbo_frame: dom_id(consultation, :replies) }) do |form| %>
              <div class="field">
                <%= form.label :content, "返信内容" %>
                <%= form.text_area :content, class: 'textarea' %>
              </div>
              <div class="field">
                <%= form.submit "返信送信", class: "button is-link is-pulled-right" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
        <%= button_to "詳細ページに戻る", consultations_response_consultation_path(consultation), method: :post, data: { turbo_frame: "content" }, class: "button is-fullwidth" %>
    </div>
  </div>
</div>