<div id="content" class="container is-small frame-fixed-height has-background-primary">
  みんなの悩み！詳細
  <div class="columns">
    <div class="column">
      <div id="<%= dom_id(@consultation) %>" class="card">
        <p class="title">タイトル: <%= @consultation.title %></p>
        <p>投稿者: <%= consultation.user.name %></p>
        <div class="card-content">
          <div class="content">
            <p><%= consultation.content %></p>
            </div>
          </div>
        </div>
        <div class="is-flex is-justify-content-flex-end is-align-items-flex-end md-3">
        <%= button_to '相談返信に向かう', consultations_detail_path(id: consultation.id), method: :post, data: { turbo_frame: "content" }, class: "button is-fullwidth is-rounded card" %>
        <%= button_to 'みんなの悩みに戻る', buttons_worries_path, method: :post, data: { turbo_frame: 'content' }, class: "button is-fullwidth is-rounded card" %>
      </div>
    </div>
  </div>
</div>