<div id="content">
  <div class="consultation-message is-small ml-2 mb-1">
    <h2 class="title is-size-4">みんなの悩みの詳細</h2>
  </div>
  <div class="columns consultations-show-fixed-height">
    <div class="column">
      <div id="<%= dom_id(@consultation) %>" class="card">
        <p class="title is-size-4">タイトル: <br class="sma-scc"> <%= @consultation.title %></p>
        <p>投稿者: 
        <% case @consultation.display_choice %>
        <% when 'name' %>
          <%= @consultation.user.name %>
        <% when 'anonymous' %>
        匿名
          <% else %>
        <%= @consultation.user.name %>
        <% end %>
        </p>
        <div class="card-content">
          <div class="content">
            <p><%= @consultation.content %></p>
          </div>
        </div>
      </div>
      <div class="is-flex is-justify-content-flex-end is-align-items-flex-end mt-1 buttons-right">
        <% if user_signed_in? %>
          <%= button_to '返信', consultations_detail_path(id: @consultation.id), method: :post, data: { turbo_frame: "content" }, class: "button is-link button-wrap-text custom-top" %>
        <% end %>
        <%= button_to '戻る', buttons_worries_path, method: :post, data: { turbo_frame: 'content' }, class: "button is-primary button-wrap-text ml-2" %>
        <% if @consultation.user == current_user %>
          <%
            fixed_url = "https://www.xn--z8j3e5a2787akv3apqn.com"
            message = "「#{ERB::Util.url_encode(@consultation.title)}」を投稿しました。%0A みなさんから、アドバイスをいただけると嬉しいです。%0A %23めぐる宝石花 %0A#{ERB::Util.url_encode(fixed_url)}"
          %>
          <div class="twitter">
            <%= link_to "https://twitter.com/intent/tweet?text=#{message}", target: "_blank", class: "button is-info button-wrap-text ml-2 tooltip", data: { tooltip: "ツイートを投稿" } do %>
              <i class="fab fa-twitter twitter-icon"></i>
            <% end %>
          </div>
            <%= button_to '削除', consultation_path(@consultation), method: :delete, remote: true, data: { confirm: '本当に削除しますか？' }, class: "button is-danger button-wrap-text ml-5 custom-delete-top" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
