<div id="content" class="container is-small">
  <div style="overflow-y: auto; max-height: 50%;">
    花と宝石達現在のギフト総数: <%= @total_sent_gifts %>
  </div>
  <% if @total_sent_gifts > 250 %>
    <%= image_tag "6.webp", style: 'max-width: 50%; max-height: 50%;' %>
  <% elsif @total_sent_gifts > 200 %>
    <%= image_tag "5.webp", style: 'max-width: 50%; max-height: 50%;' %>
  <% elsif @total_sent_gifts > 150 %>
    <%= image_tag "4.webp", style: 'max-width: 50%; max-height: 50%;' %>
  <% elsif @total_sent_gifts > 100 %>
    <%= image_tag "3.webp", style: 'max-width: 50%; max-height: 50%;' %>
  <% elsif @total_sent_gifts > 50 %>
    <%= image_tag "2.webp", style: 'max-width: 50%; max-height: 50%;' %>
  <% else %>
    <%= image_tag "1.webp", style: 'max-width: 50%; max-height: 50%;' %>
  <% end %>
</div>