<div id="error-message"></div>
<div class="columns is-multiline">
  <% if @replies.present? %>
    <% @replies.each do |reply_hash| %>
      <% reply = reply_hash[:reply] %>
      <% display_name = reply_hash[:display_name] %>

      <div id="reply_<%= reply.id %>" class="column is-full">
        <div class="card">
          <div class="card-content">
            <p><%= display_name %> : <%= reply.content %></p>
            <p>トーン: <%= reply.tone %></p>
            <br>

            <%= form_with(model: Gift.new, url: gifts_path, method: :post, data: { turbo_frame: "send_gift_frame_#{reply.id}" }, local: true) do |form| %>
              <%= hidden_field_tag :return_to, 'info' %>
              <%= form.hidden_field :receiver_id, value: reply.user_id %>
              <%= form.hidden_field :reply_id, value: reply.id %>
              <%= form.hidden_field :anonymous, value: reply.anonymous? %>

              <div class="field">
                <%= form.label :item_name, "ギフトアイテム", class: 'is-size-6' %>
                <%= form.collection_select :item_name, @available_gift_items, :to_s, :to_s, prompt: "ギフトアイテムを選択" %>
              </div>

              <div class="field">
                <%= form.label :sender_message, "感謝のメッセージ", class: 'is-size-6' %>
                <%= form.text_area :sender_message, class: 'textarea', rows: 3 %>
              </div>

              <div class="field is-grouped is-grouped-right">
                <div class="buttons-right">
                  <%= form.submit "送る", class: "button is-primary is-small" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>表示する返信がありません。</p>
  <% end %>
</div>