<div id="error-message"></div>
<div class="columns is-multiline">
  <% if @replies.present? %>
    <% @replies.each do |reply_hash| %>
      <% reply = reply_hash[:reply] %>
      <% display_name = reply_hash[:display_name] %>

      <div id="reply_<%= reply.id %>" class="column is-full">
        <div class="card">
          <div class="card-content">
            <p><%= display_name %> : <%= reply.content %></p>
            <p>スタイル: <%= reply.tone %></p>
            <br>
            <h4 class="is-size-5">ギフトを選択して<br>メッセージを送ろう</h4>

            <div class="container is-small show-fixed">
              <div class="columns is-multiline">
                <% @gifts.each do |gift| %>
                  <div class="column is-full">
                    <div class="card">
                      <div class="card-content">
                        <div class="content">
                          <%= form_with(model: gift, url: send_gift_gift_path(gift), method: :post, data: { turbo_frame: "send_gift_frame_#{gift.id}" }, local: true) do |form| %>
                            <%= hidden_field_tag :return_to, 'info' %>
                            <%= form.hidden_field :receiver_id, value: reply.user_id %>
                            <%= form.hidden_field :reply_id, value: reply.id %>
                            <%= form.hidden_field :anonymous, value: reply.anonymous? %>

                            <div class="card-content">
                              <div class="content">
                                <p>植物名: <%= gift.item_name %></p>
                                <% if gift.image_url.present? %>
                                  <%= image_tag asset_path(gift.image_url), alt: "ギフトの画像", style: "width: 150px;" %><br>
                                <% else %>
                                  <%= image_tag "top.png", alt: "デフォルトのギフト画像", style: "width: 150px;" %><br>
                                <% end %>
                                <p>花言葉: <%= gift.description %></p>
                              </div>
                            </div>

                            <div class="field">
                              <%= form.label :sender_message, "感謝のメッセージ", class: 'is-size-6' %>
                              <%= form.text_area :sender_message, class: 'textarea', placeholder: "ここにメッセージを入力してください", rows: 3 %>
                            </div>

                            <div class="field is-grouped is-grouped-right">
                              <div class="buttons-right">
                                <%= form.submit "送る", class: "button is-primary is-small" %>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>表示する返信がありません。</p>
  <% end %>
</div>
