<div id="menu"  class="buttons-left columns is-multiline ml-4 mt-3">
  <%= render "buttons/menu/closed_button" %>
  <% if user_signed_in? %>
  <%= render "dashboards/info_button" %>
  <%= render "search/search_button" %>
  <% end %>
  <%= render "consultations/worries_button" %>
  <%= render "gifts/gift_list_button" %>
<nav>
  <% if user_signed_in? %>
  <%= render "chats/chat_button" %>
  <%= render "gifts/send_gift_button" %>
  <%= render "users/user_button" %>
  <% else %>
  <%= render "buttons/trial_login_button" %>
  <% end %>
  </nav>
</div>