<div id="menu"  class="buttons-left columns is-multiline ml-4 mt-3">
  <%= render "buttons/menu/closed_button" %>
  <%= render "buttons/menu/worries_button" %>
  <%= render "buttons/menu/gift_list_button" %>
<nav>
  <% if user_signed_in? %>
  <%= render "buttons/menu/worries_button" %>
  <%= render "buttons/menu/chat_button" %>
  <%= render "buttons/menu/send_gift_button" %>
  <%= render "buttons/menu/user_button" %>
  <% else %>
  <%= render "buttons/trial_login_button" %>
  <% end %>
  </nav>
</div>