<div class="buttons-left columns is-multiline ml-4 mt-3">
  <%= button_to 'メニューを閉じる', menu_path, method: :post, class:  'button is-primary is-small column is-full mt-3' %>
  <%= button_to 'みんなの悩み', buttons_worries_path, method: :post, class: 'button is-primary is-small column is-full mt-5' %>
  <%= button_to '花と宝石達', buttons_gift_list_path, method: :post, class: 'button is-primary is-small column is-full mt-5' %>
  <%= button_to 'チャット', buttons_chat_path, method: :post, class: 'button is-primary is-small column is-full mt-5' %>
  <%= button_to '感謝の気持ち', buttons_send_gift_path, method: :post, class: 'button is-primary is-small column is-full mt-5' %>
  <%= button_to 'ユーザーの一覧', buttons_user_path, method: :post, class: 'button is-primary is-small column is-full mt-5' %>
</div>