<div id="content" class="container is-small frame-fixed-height has-background-warning">
  <div class="card">
    <div class="card-content">
      <p class="title">名前: <%= @user.name %></p>
      <p class="subtitle">組織: <%= @user.organization&.name || '未登録' %></p>
      <p class="subtitle">自己紹介: <%= @user.profile&.introduction || '未登録' %></p>
      <p class="subtitle">興味・関心: <%= @user.profile&.interests || '未登録' %></p>
      <p><strong>送ったギフト：</strong></p>
      <p><strong>ギフトを贈った回数：</strong><%= @user.sent_gifts.count %></p>
      <ul>
        <% @user.sent_gifts.each do |gift| %>
          <li><%= gift.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>