<div id="content" class="frame-fixed-height container is-small">
  みんなの悩み
  <div class="has-text-white">
    <div class="columns is-multiline">
      <% @consultations.each do |consultation| %>
        <div class="column is-full-mobile is-one-third-tablet">
          <div id="<%= dom_id(consultation) %>">
            <%= button_to "#{consultation.title} (#{consultation.category.name})", consultations_response_consultation_path(consultation), method: :post, data: { turbo_frame: "content" }, class: "button is-fullwidth" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= form_with(model: Consultation.new, url: consultations_path, local: true) do |form| %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>

    <div class="field">
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, Category.all, :id, :name %>
    </div>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <%= form.submit "投稿", class: "button is-link" %>
  <% end %>
</div>