<div class="is-flex-direction-column is-justify-content-center is-align-items-center">
  <% if user_signed_in? %>
    <%= case @current_time.hour
    when 5..11
    "<strong class='custom-size-3'>おはよう!!#{current_user.name}さん</strong>".html_safe
    when 12..17
    "<strong class='custom-size-3'>こんにちは!!#{current_user.name}さん</strong>".html_safe
    when 18..24
    "<strong class='custom-size-3'>こんばんは!!#{current_user.name}さん</strong>".html_safe
    else
    "<strong class='custom-size-3'>深夜ですよ！!#{current_user.name}さん</strong>".html_safe
    end %>
    <p class="custom-size-4 has-text-custom-color">ダッシュボードに移動しますか？</p>
    <div class="buttons-tone">
      <div class="columns is-centered mt-1 mb-1">
        <%= link_to 'ログイン', dashboards_path, class: 'button is-explanation is-small' %>
      </div>
    </div>
  <% else %>
    <strong class="custom-size-3">ログインはこちらから！！</strong>
    <p class="custom-size-4 has-text-custom-color">どのサービスからログインしますか？</p>
    <div class="buttons-tone columns is-centered is-mobile mt-5 mb-5">
      <div class="column is-narrow mb-1">
        <%= button_to user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false }, authenticity_token: true, class: 'button is-explanation is-small' do %>
          <span class="icon">
            <i class="fab fa-google"></i>
          </span>
          <span>Google</span>
        <% end %>
      </div>
      <div class="column is-narrow mb-1">
        <%= button_to user_github_omniauth_authorize_path, method: :post, data: { turbo: false }, authenticity_token: true, class: 'button is-explanation is-small' do %>
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span>GitHub</span>
        <% end %>
      </div>
      <div class="column is-narrow mb-1">
        <%= button_to user_discord_omniauth_authorize_path, method: :post, data: { turbo: false }, authenticity_token: true, class: 'button is-explanation is-small' do %>
          <span class="icon">
            <i class="fab fa-discord"></i>
          </span>
          <span>Discord</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
