<div class="container is-small show-fixed-height mt-5">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        ユーザープロフィール
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p><strong>名前：</strong> <%= @user.name %></p>
        <p><strong>メール：</strong> <%= @user.email %></p>
        <p><strong>組織：</strong> <%= @user.organization&.name || '未登録' %></p>
        <p><strong>自己紹介：</strong> <%= @user.profile&.introduction || '未登録' %></p>
        <p><strong>興味・関心：</strong> <%= @user.profile&.interests || '未登録' %></p>

        <p><strong>贈ったギフトと回数：</strong><%= @user.sent_gifts.count %></p>
        <ul>
          <% @user.sent_gifts.each do |gift| %>
            <li><%= gift.item_name %></li>
          <% end %>
        </ul>

        <p><strong>相談の返信者から受け取ったギフト：</strong><%= @received_gifts_from_repliers.count %></p>
        <ul>
          <% @received_gifts_from_repliers.each do |gift| %>
            <% if gift.item_name.present? && (gift.sender_message.present? || gift.gift_histories.any? { |history| history.sender_message.present? }) %>
              <li>
                <p><strong>ギフト名:</strong> <%= gift.item_name %></p>
                <p><strong>花言葉:</strong> <%= gift.description %></p> <!-- 花言葉を表示 -->
                <% if gift.giver.present? %>
                  <p>送り主: <%= gift.giver.name %></p>
                <% end %>
                <% if gift.gift_histories.any? %>
                  <% gift.gift_histories.each do |history| %>
                    <% if history.sender_message.present? %>
                      <p>メッセージ: <%= history.sender_message %></p>
                    <% end %>
                  <% end %>
                <% elsif gift.sender_message.present? %>
                  <p>メッセージ: <%= gift.sender_message %></p>
                <% end %>
                <%
                  app_url = "https://flowerjewelring-e86d8e8259b0.herokuapp.com"
                  tweet_message = "相談のお礼に「#{ERB::Util.url_encode(gift.item_name)}」を受け取りました！%0A花言葉:「 #{ERB::Util.url_encode(gift.description)}」の意味が込められてます。%0Aみなさんも素敵なお礼貰いませんか？%0A#{ERB::Util.url_encode(app_url)}"
                %>
                <%= link_to 'Xに投稿', "https://twitter.com/intent/tweet?text=#{tweet_message}", target: "_blank", class: "button is-info mt-2" %>
              </li>
            <% end %>
          <% end %>
        </ul>

        <p><strong>相談への返信：</strong></p>
        <ul>
          <% @user.consultations.each do |consultation| %>
            <% consultation.replies.each do |reply| %>
              <li>返信者: <%= reply.user.name %>, 返信内容: <%= reply.content %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container is-small show-buttons-fixed-height mt-5">
  <%= link_to 'プロフィール編集', edit_user_profile_user_path(@user), class: 'button is-link' %>
  <%= link_to 'ダッシュボードに戻る', dashboard_path, class: 'button is-info ml-1' %>
</div>
