<div id="content" class="container is-small">
  <div id="error-message"></div>
  <div class="columns is-multiline gift-list-height">
    <div class="column is-full">
      <div class="level">
        <div class="level-left">
          <h3 class="title is-size-3">手持ちのギフト</h3>
        </div>
        <div class="level-right buttons-right">
          <%= button_to '戻る', all_gifts_path, method: :post,  class: 'button is-primary is-small custom-long-left mt-5', data: { turbo_frame: 'content' } %>
        </div>
      </div>
    </div>
    <% @gifts.each do |gift| %>
      <div id="gift_card_<%= gift.id %>" class="column is-one-third">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              カテゴリ: <%= gift.gift_category.name %>
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              植物名: <%= gift.item_name %><br>
              <%= image_tag asset_path(gift.image_url), alt: "ギフトの画像", style: "width: 250px;" , data: { action: "click->modal#open" } %><br>
              花言葉or宝石言葉: <br> <%= gift.description %>
              <br>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
