<div id="content" class="container" data-controller="chat">
  <div class="chat-fixed-height">
    <h3 class="title is-size-3">プライベート<br class="sma-scc">チャット</h3>
    <div class="has-text-white mt-5">
      <% if selected_user %>
        <p class="has-text-black mb-3">選択されたユーザー: <%= selected_user.display_name %></p>
      <% end %>
        <div id="messages" class="chat-height" data-chat-target="messages">
          <% chats.each do |chat| %>
            <%= render partial: 'chats/message', locals: { chat: chat, show_delete_button: chat.sender == current_user, display_name: chat.sender.display_name } %>
          <% end %>
      </div>
      <div id="error-messages" class="notification is-danger" style="display: none;"></div>
      <%= form_with model: @chat, url: chats_path, method: :post, data: { turbo: true } do |form| %>
        <%= form.hidden_field :receiver_id, value: receiver_id %>
        <div class="field has-addons">
          <div class="control is-expanded">
            <%= form.text_field :message, placeholder: "メッセージを入れてエンターキーを押してください!!", class: "input", id: "chat_message_input", data: { chat_target: "input", receiver_id: receiver_id } %>
          </div>
          <div class="control">
            <%= form.submit "送信", class: "button is-primary", data: { action: "chat#sendMessage" } %>
          </div>
        </div>
      <% end %>
    </div>
    <%= form_with url: chat_chats_path, method: :post do |f| %>
      <%= f.collection_select :receiver_id, User.where.not(id: current_user.id), :id, :display_name %>
      <%= f.submit "相手を選択してください！！" %>
    <% end %>
  </div>
</div>
