<div id="content" data-controller="group-chat" data-group-chat-id="<%= @group_chat.id %>">
  <div class="group-chat-fixed-height">
    <div id="group_chat" data-group-chat-id="<%= @group_chat.id %>">
      <h2><%= @group_chat.title %> (ID: <%= @group_chat.id %>)</h2>
      <div id="messages" class="group-chat-height" data-group-chat-target="groupMessages">
        <% @group_chat.group_chat_messages.each do |message| %>
          <%= render partial: "group_chat_messages/message", locals: { message: message, show_delete_button: message.user == current_user } %>
        <% end %>
      </div>
      <div id="new_group_chat_message" data-group-chat-target="groupInput">
        <%= render partial: 'group_chat_messages/form', locals: { group_chat_message: GroupChatMessage.new } %>
      </div>
    </div>


    <div id="group_chat_members">
      <% @group_chat.group_chat_members.each do |member| %>
        <%= render partial: "group_chat_members/member", locals: { group_chat_member: member } %>
      <% end %>
    </div>

    <div class="group-buttons">
      <% if current_user.group_chat_members.find_by(group_chat: group_chat)&.admin? %>
        <% unless group_chat.group_chat_members.find_by(user: current_user)&.role == 'free' %>
          <%= link_to "メンバー追加", new_group_chat_group_chat_member_path(group_chat), class: "button is-primary is-small", data: { turbo_frame: "new_group_chat_member" } %>
        <% end %>
        <%= link_to "グループ編集", edit_group_chat_path(group_chat), class: "button is-info is-small", data: { turbo_frame: "edit_group_chat" } %>
        <%= button_to "グループ削除", group_chat_path(group_chat), method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'button is-danger is-small' %>
      <% end %>
    </div>

    <%= turbo_frame_tag "new_group_chat_member" %>
    <%= turbo_frame_tag "edit_group_chat" %>
  </div>
</div>
