<div id="content">
<div id="group_chat_<%= group_chat.id %>">
  <h2><%= group_chat.title %> (ID: <%= group_chat.id %>)</h2>

  <div id="messages">
    <% group_chat.group_chat_messages.each do |message| %>
      <%= render partial: "group_chat_messages/message", locals: { message: message, show_delete_button: message.user == current_user } %>
    <% end %>
  </div>

  <%= form_with(model: [group_chat, GroupChatMessage.new], data: { turbo: true }, id: "new_group_chat_message") do |form| %>
    <div class="field has-addons">
      <div class="control is-expanded">
        <%= form.text_area :message, placeholder: "メッセージを入力してください", class: "input", id: "chat_message_input", data: { group_chat_id: group_chat.id, current_user_id: current_user.id } %>
      </div>
      <div class="control">
        <%= form.submit "送信", class: "button is-primary" %>
      </div>
    </div>
  <% end %>

  <div id="group_chat_members">
    <% group_chat.group_chat_members.each do |member| %>
      <%= render partial: "group_chat_members/member", locals: { group_chat_member: member } %>
    <% end %>
  </div>

  <div class="buttons">
    <%= link_to "メンバー追加", new_group_chat_group_chat_member_path(group_chat), class: "button is-primary", data: { turbo_frame: "new_group_chat_member" } %>
    <%= link_to "グループ編集", edit_group_chat_path(group_chat), class: "button is-info", data: { turbo_frame: "edit_group_chat" } %>
    <%= button_to "グループ削除", group_chat_path(group_chat), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "button is-danger" %>
  </div>
</div>

<%= turbo_frame_tag "new_group_chat_member" %>
<%= turbo_frame_tag "edit_group_chat" %>
</div>
