<% if show_header? %>
  <header>
    <nav>
      <ul>
        <li>
          <%= link_to root_path, title: 'トップに戻る' do %>
            <p class="title is-2">めぐる宝石花</p>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li>
            <span id="unread-replies-count" class="<%= current_user.unread_replies_count > 0 ? 'has-unread' : '' %>">
              <span class="icon">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="message">
                相談の未読返信: <%= current_user.unread_replies_count %>
              </span>
            </span>
            <%= render 'layouts/unread_gifts_count', unread_gifts_count: @unread_gifts_count %>
            <%= link_to "#{current_user.name}さんのプロフィール", user_path(current_user) if current_user.present? %>
            <%= button_to 'ログアウト', destroy_user_session_path, method: :delete, form: { "data-turbo" => "false" } %>
          </li>
        <% else %>
          <li>
            <%= button_to 'ログイン', buttons_login_path, method: :post %>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>
<% end %>