<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

      <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@kzkio_0114">
    <meta name="twitter:title" content="めぐる宝石花">
    <meta name="twitter:description" content="このアプリは相談する→相談されるの流れを繰り返して行い、また、相談した人には相談された人に感謝の気持ちとアイテムが貰えて、相談を出来る回数が増えていく循環・複合型相談アプリです。">
    <meta name="twitter:image" content="<%= asset_path('top.png') %>">

  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HE6KZH9Z54"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HE6KZH9Z54');
  </script>

  <body>
    <%= render 'layouts/header' %>
    <div id="flash">
    <%= render 'layouts/flash' %>
    <%#<p class="notice"><%= notice % ></p>%>
    <%= yield %>
  </body>
</html>
